# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Graphql
schema.json
schema.graphql

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

.DS_store
dist
public/dev
.idea
